.landingpage-content{
  background-color: #24292E;
  margin-top:60px;
  padding:20px;
  height:695px;
  color:white;
  display:flex;
  flex-direction:column;
  align-items: center;
  /* justify-content: center; */
}
.landingpage-content>h1{
  margin-top:200px;
  margin-bottom:50px;
  font-size:40px;
  font-weight:300;
}
.landingpage-content>h3{
  margin-top:10px;
  margin-bottom:50px;
  font-size:25px;
  font-weight:300;
    word-break: break-all;
}
.btnn{
  width:30vw;
  padding:10px;
  border-radius:30px;
  margin:30px;
  /* background-color:#3cd258; */
    background-color: #24292E;
  color:white; 
  font-size:20px;
  font-weight:300; 
  border:1px solid white

}
.btnn:hover{
  background-color: #3cd258;
  color:white;
  border:1px solid white;
}
.landingpage-showcase{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding:20px;
}
.landingpage-showcaseTop{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px;
}
.landingpage-showcaseTop >h1{
  font-size:40px;
  font-weight:300;
  margin-bottom:50px;
}
.landingpage-showcaseTop>h3{
  font-size:25px;
  font-weight:300;
  margin-bottom:80px;
}
.landingpage-showcaseItems{
  display:flex;
  align-items: center;
  justify-content:center;
  margin-bottom:45px;
}
.landingpage-showcaseItem{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin:25px;
}
.landingpage-showcaseItem>h4{
  font-size:25px;
  font-weight:300;
  margin-bottom:15px;
}
.landingpage-showcaseItem>img{
  width:25vw;;
  height:30vh;
  border-radius:10px;
  box-shadow: 10px 10px 8px #888888;
   object-fit:conatin;
}
.landingpage-showcaseItem>img:hover{
opacity:0.7;
transition-duration:.7s;
cursor:pointer;
}
  @media (max-width: 800px) {
   
    .landingpage-showcaseItems {
    flex-direction: column;
  }
  .landingpage-showcaseItem>img{
    object-fit:contain;
    width:60vw;
    height:60vh;
  }
}

.landingpage-subscription{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top:100px;
  padding:20px;
  background-image:url("https://images.unsplash.com/photo-1499750310107-5fef28a66643?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTV8fGJhY2tncml1bmQlMjB3ZWJzaXRlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  background-repeat: no-repeat;
  object-fit: contain;
  /* background-attachment: fixed; */
  background-size: cover;
    background-size: 100% 100%;
  height:90vh;
  opacity:0.8;
  color:white;
  /* object-fit:contain; */

}
.landingpage-subscription>h1{
  font-size:40px;
  font-weight:400;
  margin-top:10%;
  margin-bottom:2%;
}
.landingpage-subscription>h3{
  font-size:25px;
  font-weight:300;
  margin-bottom:8%; 
}
.subscribe-form{

  display:flex;
  align-items: center;

  justify-content: center;
}
.subscribe-form>input{
  width:50vw;
  padding:20px;
  border-radius:50px;
  border:1px solid white;
  opacity:0.6; 
}
.subscribe-btn{
  width:150px;
  padding:17px;
  border-radius:30px;
  margin:-50px;
  z-index: 1;
  background-color:rgb(60,212,88);
  color:white; 
  font-size:20px;
  font-weight:300;
  border:none; 
}
.subscribe-btn:hover{
  background-color:rgb(77, 169, 94);
  /* border:1px solid black; */
}
.thankyou{
  margin-top:20%;
  font-size:20px;
  font-weight:300;

}