.results{
    display:flex;
    align-items: center;
    justify-content:space-between;
    /* border:.5px solid */
    margin:35px;
    margin-top:5px;
    padding:15px;
    border-radius:5px;
    width:100%;
    /* box-shadow:10px 10px  10px 10px grey;
     */
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);

}
.result-heading{
   display:flex;
    align-items: center;
    justify-content:space-between;
    /* border:.5px solid; */
    margin:35px;
    margin-top:50px;
    padding:15px;
    border-radius:5px;
    width:100%;
box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
/* .result>h1{
width:33%;
}
.result>h2{
width:33%;
}
.result>h3{
width:33%;
} */
.pageResult{
  /* padding:30px; */
  /* width:100%; */
  /* margin-left:100px; */
  /* margin-right:100px; */
}
.name{
    width:33.3%;
    display:flex;
    align-items: center;
    justify-content:center;
    color:black;
    font-size: 20px;
    font-weight:400;
}
.previousresult-banner{
  display:flex;
  align-items: center;
  justify-content:center;
  margin-top:30px;
  width:100%;
   background-color:#24292E;
  height:300px;
}
.previousresult-banner>h1{
  color:white;
  font-size:40px;
  font-weight:300;
}
.results-container{
  display:flex;
  flex-direction: column;
  margin-right:100px;
  margin-bottom:50px;
}