.footer{
    color:black;
    display:flex;
    align-items: center;
    padding:30px;
    align-items:center;
    justify-content:center;
    /* margin:auto; */
    width:100%;
    background-color:#FAFBFB;
    /* justify-content:space-between; */
    border:.5px solid rgb(226, 219, 219);
}
.footer>img{
    object-fit:contain;
    border-radius: 50%;
}

.footer-contents{
    display:flex;
    align-items: center;
    margin-left:10px;
    justify-content: center;
    padding:20px;
}   
@media (max-width: 800px) {
   
    .footer-contents{
    flex-direction: column;
  }
  
}
.footer-content{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    padding:20px;
    margin-left:20px;
}
.company{
    font-size:30px;
    font-weight:400;
    margin-bottom:30px;
}

.footer-bottom{
    font-size:18px;
    font-weight:150;
}