.landingheader{
  display:flex;
  width:100vw;
  justify-content:space-between;
  position:fixed;
  top:0;
  padding:20px;
  height:65px;
  z-index:1;
  background-color: #24292E;
  transition-timing-function:ease-in;
  transition:all 0.5s;
  color:white;
}

  /* .landingpage-showcaseItem>img{
    object-fit:contain;
    width:60vw;
    height:60vh;
  } */
/* .landingheader>img{
  border-radius:100%;
} */
.header-icon{
    width:150px;
    object-fit:contain;
    position:fixed;
    left:20px;
    height:40px;
  }
/* .header-icon{
  border-radius:50%;
  object-fit:contain;
} */
.header-right{
  display:flex;
  align-items:center;
  margin-right:15px;
  justify-content: space-between;
}

  @media (max-width: 1200px) {
   
      .header-right{
    display:none;
  }
}
.landingheader-title{
    padding:20px;
    font-size:25px;
    transition-duration:.5s;

}


.landingheader-title:hover{
 transform:scale(1.1)
}
.header-button-signin{
    padding:12px;
    border-radius:50px;
    background-color:#3cd458;
    color:white;
    font-size:15px;
    margin-right:20px;
}
.header_optionLineOne{
    margin:10px;
}
.header-button-signout{
    padding:10px;
    border-radius:50px;
    background-color: #3cd458;
    color:white;
    font-size:15px;
    margin-right:20px;
}
.header-button-signin:hover{
    background-color: #24292E;
    border:1px solid white;
    
}
.header-button-signout:hover{
       background-color: #24292E;
    border:1px solid white;
}