.landingheader{
display:flex;
  width:100%;
  justify-content:space-between;
  position:fixed;
  top:0;
  padding:20px;
  height:65px;
  z-index:1;
  background-color: #24292E;
  transition-timing-function:ease-in;
  transition:all 0.5s;
  color:white;
}
.header-icon{
    width:150px;
    object-fit:contain;
    position:fixed;
    left:20px;
    height:45px;
}
.header-right{
  display:flex;
  align-items:center;
  justify-content: space-between;
}
.landingheader-title{
    padding:20px;
    font-size:25px;
}
.landingheader-quiz{
   padding: 20px;
   font-size:25px;
}
.landingheader-contact{
    padding: 20px;
    font-size:25px;
    margin-right:400px;
}
.header-button-signin{
    padding:12px;
    border-radius:50px;
    background-color:#3cd458;
    color:white;
    font-size:15px;
    margin-right:20px;
}
.header-button-signout{
    padding:10px;
    border-radius:50px;
    background-color: #3cd458;
    color:white;
    font-size:15px;
    margin-right:20px;
}
.header-button-signin:hover{
    background-color: #24292E;
    border:1px solid white;
    
}
.header-button-signout:hover{
       background-color: #24292E;
    border:1px solid white;
}