.login{
     /* background-color:white; */
      min-height: 100vh;
    max-width: 100vw;
    margin: 0 auto;
    display:flex;
    flex-direction:column;
    align-items:center;
     background-color: #24292E;
    color:white;
    justify-content: center;
 }
 .login_logo{
     margin-top:10px;
     margin-bottom:20px;
     object-fit:contain;
     width:200px;
     margin-right:auto;
     margin-left:auto;
 }
 .login_container{
     box-shadow: 10px 10px 10px 10px #151517 ;
     /* background-color:rgb(111, 98, 98); */
     /* background-color: #24292E; */
    /* margin-top:200px; */
     width:400px;
     height: 400px;
     display:flex;
     flex-direction:column;
     border-radius:15px;
     border:1px solid white;
     padding:30px;
     margin-top:70px;
 }
 .login_container >h1{
     font-weight:500;
     margin-bottom:20px;
 }
 .login_container >form >h5{
     margin-bottom:5px;
 }
 .login_container>form >input{
     height:30px;
     background-color:white;
     margin-bottom:10px;
     width:98%;
 }
 
 .login_container >p{
     margin-top:15px;
     font-size:12px;
     margin-bottom:10px;
 }
 
 .login_signInButton{
     background:#f0c14b;
     border-radius:2px;
     width:100%;
     height:30px;
     border:1px solid;
     margin-top:10px;
     border-color:#a88734 #9c7e31 #846a29;
 }
 .login_registerButton{
     border-radius:2px;
     width:100%;
     height:30px;
     border:1px solid;
     margin-top:10px;
     border-color:darkgray;
 }
 @media (max-width: 800px) {
   
    .login_container{
     width:250px;
  }
}